.container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.body {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.body__list {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.body__toolbar {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.toolbar__title {
    margin-bottom: 8px;
}

.toolbar__button {
    padding: 8px 0;
    border-bottom: 1px solid #b1b1b1;
}

.form {
    display: flex;
    flex-direction: column;
}

.footer {
    margin: 8px 0;
}

.list {
    flex: 1;
    overflow-x: auto;
}
