<h2>External widget example</h2>
<div class="container">
    <div class="body">
        <div class="body__list">
            <div>List of update from host @ store:</div>
            <ul class="list">
              <li *ngFor="let message of messages">{{ message.store }}</li>
            </ul>
        </div>
        <div class="body__toolbar">
            <div class="toolbar__title">Toolbar</div>
            <div class="toolbar__button">
                <button (click)="onFocus()">onFocus</button>
            </div>
            <div class="toolbar__button">
                <button (click)="onBlur()">onBlur</button>
            </div>
            <div class="toolbar__button">
                <button (click)="storeData()">store message</button>
            </div>
            <div class="toolbar__button">
                <form class="form" #f="ngForm" (ngSubmit)="fireWidgetEvent()">
                    <input type="text" name="name" placeholder="event name (onAction)" autocomplete="off" [(ngModel)]="event.name">
                    <input type="text" name="parameter" placeholder="event parameter" autocomplete="off" [(ngModel)]="event.parameter">
                    <button>fire widget event</button>
                </form>
            </div>
            <div class="toolbar__button">
                <form class="form" #f="ngForm" (ngSubmit)="fireWidgetChangeEvent()">
                    <input type="text" name="name" placeholder="property name" autocomplete="off" [(ngModel)]="change.name">
                    <input type="text" name="parameter" placeholder="property value" autocomplete="off" [(ngModel)]="change.parameter">
                    <button>fire widget change event</button>
                </form>
            </div>
        </div>
    </div>
    <div class="footer">
        <a target="_blank" rel="noopener" href="https://github.com/vikshv/external-widget-example">GitHub</a>
    </div>
</div>
